<div class="menu-container shadow-box">
  <div class="menu-header">目录</div>
  <ul class="menu-list">
    <li>123</li>
    <li>456</li>
  </ul>
</div>
<div class="content-container">
  <article class="article-container shadow-box markdown-body">
    <%- articleContent %>
    <div class="article-footer">
      <p>发表时间: <%=articleDetail.createTime%></p>
      <p>修改时间: <%=articleDetail.modifyTime%></p>
      <p>文章分类: <%=articleDetail.classify%></p>
      <p>文章标签: <%=articleDetail.tags%></p>
      <p>评论数: <%=articleDetail.comments%></p>
      <p>阅读量: <%=articleDetail.reading%></p>
      <p>收藏: <%=articleDetail.favourite%></p>
    </div>
  </article>
  <div class="comment-container shadow-box">
    <!-- 评论列表 -->
    <% if(commentList.length===0){ %>
    <div class="comment-list comment-none">暂无评论</div>
    <% } else { %> <% } %>
    <div class="comment-list">
      <% for(var i=0; i<(commentList.length); i++){ %>
      <div class="comment-header">
        <span><%=commentList[i].fromUId.avator%></span> <span><%=commentList[i].fromUId.username%></span>
        <span><%=commentList[i].createTime%></span>
      </div>
      <div class="comment-main"><%=commentList[i].content%></div>
      <% } %>
    </div>
    <!-- 发表评论 -->
    <div class="comment-form">
      <% if( !user ) { %>
      <div class="comment-mask">请登录后进行评论!</div>
      <% } else { %> <label class="comment-label">评论支持Markdown</label>
      <textarea
        class="comment-input"
        id="comment-content"
        placeholder="评论通过审核后显示"
      ></textarea>
      <button class="comment-btn" id="btn-comment">回复</button> <% } %>
    </div>
  </div>
</div>
