<!-- 博客主体部分 -->
<section class="article-list-container">
  <% if (articleList.length === 0) { %>
    <div>暂无文章</div>
  <% } %>
  <% for (var i = 0; i < articleList.length; i++) { %>
  <article class="article-container shadow-box">
    <div class="article-header">
      <a class="article-title ellipsis"
        title="<%=articleList[i].title%>" 
        href="/article?id=<%=articleList[i]._id%>" 
        target="_blank">
        <%=articleList[i].title%></a>
      <ul class="article-meta clearfix">
        <li>
          <i class="iconfont">&#xe7eb;</i>
          <span><%=articleList[i].createTime.split(' ')[0]%></span>
        </li>
        <li class="article-category"> 
          <i class="iconfont">&#xe654;</i>
          <a href="javascript:;"><%=articleList[i].classify%></a>
        </li>
        <li>
          <i class="iconfont" title="评论">&#xe7f5;</i>
          <span><%=articleList[i].comments%></span>
        </li>
        <li>
          <i class="iconfont" title="阅读量">&#xe62a;</i>
          <span><%=articleList[i].reading%></span>
        </li>
        <li>
          <i class="iconfont" title="收藏">&#xe702;</i>
          <span><%=articleList[i].favourite%></span>
        </li>
      </ul>
    </div>
    <div class="article-description">
      <p class="ellipsis-mutiple" title="<%=articleList[i].describe%>"><%=articleList[i].describe%></p>
    </div>
    <div class="article-footer">
      <i class="iconfont" style="margin-right: 6px;">&#xe610;</i>
      <% for (var j = 0; j < articleList[i].tags.length; j++) { %>
      <a class="article-tag" href="javascript:;"><%=articleList[i].tags[j]%></a>
      <% } %>
    </div>
  </article>
  <% } %>
  <!-- 分页 -->
  <% if (total){ %>
  <div class="article-paginate">
    <ul class="clearfix">
      <a href="/blog?page=<%= pageNum - 1 %>" class="paginate-prev">&lt;</a>
      <% for(var i = 1; i <= pages; i++) { %>
      <!-- <a href="/blog?page=<%= i %>" class="paginate-page"><%= i %></a> -->
      <a href="/blog?page=<%= i %>" class="paginate-page"><%= i %></a>
      <% } %>
      <a href="/blog?page=<%= pageNum + 1 %>" class="paginate-next">&gt;</a>
    </ul>
  </div>
  <% } %>
</section>
<!-- 侧边栏 -->
<aside class="aside-container">
  <div class="user-container shadow-box">
    <div class="user-header">
      <span>Conrad</span>
      <p>A young boy</p>
      <img class="user-avator" src="img/avator.jpg">
    </div>
    <div class="user-footer">
      <ul class="clearfix">
        <li>
          <a href="https://github.com/ConradZhangcong/" title="github" target="_blank" class="iconfont">&#xe7ab;</a>
        </li>
        <li>
          <a href="javascript:;" class="iconfont">&#xe657;</a>
        </li>
        <li>
          <a href="javascript:;" class="iconfont">&#xe689;</a>
        </li>
      </ul>
    </div>
  </div>
  <% if (hotList.length !== 0 ) { %>
  <div class="card-container shadow-box">
    <h5 class="card-title">
      <span class="card-muted">热门文章</span>
    </h5>
    <span></span>
    <div class="card-article">
      <ul>
        <% for (var i = 0; i < hotList.length; i++ ) { %>
        <a href="/article?id=<%=hotList[i]._id%>" title="<%=hotList[i].title%>">
          <p class="ellipsis"><%=hotList[i].title%></p>
          <small>阅读量: <%=hotList[i].reading%>, 评论: <%=hotList[i].comments%></small>
        </a>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>
  <% if (classList.length !== 0 ) { %>
  <div class="card-container shadow-box">
    <h5 class="card-title">
      <span class="card-muted">分类</span>
      <a href="javascript:;" class="card-more pull-right">查看更多</a>
    </h5>
    <div class="card-classify">
      <ul>
        <a href="javascript:;">
          <span>Android</span>
          <small class="pull-right">10</small>
        </a>
        <a href="javascript:;">
          <span>Android</span>
          <small class="pull-right">10</small>
        </a>
      </ul>
    </div>
  </div>
  <% } %>
  <% if (tagList.length !== 0 ) { %>
  <div class="card-container shadow-box">
    <h5 class="card-title">
      <span class="card-muted">标签</span>
      <a href="javascript:;" class="card-more pull-right">查看更多</a>
    </h5>
    <div class="card-tags-list">
      <ul class="clearfix">
        <a href="javascript:;"><span>Javascipt</span><span>1</span></a>
        <a href="javascript:;"><span>Nodejs</span><span>(5)</span></a>
        <a href="javascript:;"><span>Vue</span><span>(5)</span></a>
        <a href="javascript:;"><span>React</span><span>(5)</span></a>
        <a href="javascript:;"><span>Webpack</span><span>(5)</span></a>
        <a href="javascript:;"><span>css</span><span>(5)</span></a>
        <a href="javascript:;"><span>html</span><span>(5)</span></a>
        <a href="javascript:;"><span>es6</span><span>(5)</span></a>
      </ul>
    </div>
  </div>
  <% } %>
</aside>